PORT=3003
DURABLE_ACTORS_BINARY=../../target/debug/durable-actors
DURABLE_ACTORS_PROJECT_ID=basketball
DURABLE_ACTORS_PORT=7104
DURABLE_ACTORS_CONTROL_PLANE_URL=http://127.0.0.1:7104
DURABLE_ACTORS_TELEMETRY=0
