**
!Cargo.toml
!Cargo.lock
!build.rs
!.cargo
!.cargo/**
!migrations
!migrations/**
!proto
!proto/**
!src
!src/**
!providers
!providers/modal-go
!providers/modal-go/**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!sdk
!sdk/package.json
!sdk/tsconfig*.json
!sdk/src
!sdk/src/**
!examples
!examples/chat
!examples/chat/package.json
!examples/ai-chat
!examples/ai-chat/package.json
!examples/documents
!examples/documents/package.json
