**
!Cargo.toml
!Cargo.lock
!build.rs
!.cargo
!.cargo/**
!migrations
!migrations/**
!proto
!proto/**
!src
!src/**
!docs
!docs/reference
!docs/reference/openapi.yaml
!package.json
!scripts
!bun.lock
!bunfig.toml
!sdk
!sdk/package.json
!sdk/bin
!sdk/bin/**
!sdk/LICENSE.md
!sdk/scripts
!sdk/scripts/build-client-runtime.mjs
!sdk/scripts/build-declarations.mjs
!sdk/tsconfig*.json
!sdk/src
!sdk/src/**
!packages
!packages/observer-ui
!packages/observer-ui/package.json
!packages/observer-ui/tsconfig.json
!packages/observer-ui/vite.config.ts
!packages/observer-ui/index.html
!packages/observer-ui/src
!packages/observer-ui/src/**
!examples
!examples/chat
!examples/chat/package.json
!examples/ai-chat
!examples/ai-chat/package.json
!examples/documents
!examples/documents/package.json
!sdk-python
!sdk-python/pyproject.toml
!sdk-python/src
!sdk-python/src/**
!sdk-python/README.md
!sdk-python/LICENSE.md

!third_party
!third_party/terse-ltx
!third_party/terse-ltx/**

!third_party/terse-litestream
!third_party/terse-litestream/Cargo.toml
!third_party/terse-litestream/src
!third_party/terse-litestream/src/**
!third_party/terse-litestream/README.md
!third_party/terse-litestream/LICENSE
!third_party/terse-litestream/NOTICE

!examples/bank-python
!examples/bank-python/package.json

!examples/bank-typescript
!examples/bank-typescript/package.json

!examples/cli
!examples/cli/package.json

!examples/pi-agent
!examples/pi-agent/package.json
